/Uni_Printer-backups
/gerbers
/software/test/.idea
/software/10_test/.idea
/software/00_controller/controller_cube/Debug
/hardware/00_main_unit/Uni_Printer-backups
/hardware/10_shield_stick_head/Uni_stick-backups
/software/00_controller/controller_main/Release
/software/00_controller/controller_main/Debug
/software/workspace/.metadata
/software/00_controller/controller_main/.settings
/hardware/10_shield_chm36VA/shield_chm36VA-backups
/hardware/10_shield_chm36VA/gerbers
/hardware/00_Uni_Printer/Uni_Printer-backups
/hardware/00_Uni_Printer/gerbers

hardware/00_Uni_Printer/Uni_Printer-backups
*.bak
/hardware/11_shield_CHM36VA/shield_chm36VA-backups
/hardware/12_mixture/UniMixBase/UniMixBase-backups
/hardware/12_mixture/UniMixHead/UniMixHead-backups
/hardware/12_mixture/UniMixHead/UniMixBase-backups
/hardware/12_mixture/UniMixBase/pdf
/hardware/12_mixture/UniMixBase/ger
