/Uni_Printer-backups
/gerbers
/software/test/.idea
/software/10_test/.idea
/software/00_controller/controller_cube/Debug
/hardware/00_main_unit/Uni_Printer-backups
/hardware/10_shield_stick_head/Uni_stick-backups
/software/00_controller/controller_main/Release
/software/00_controller/controller_main/Debug
/software/workspace/.metadata
/software/00_controller/controller_main/.settings
